<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Fitness</title>
</head>
<body>
    <h1>Добро пожаловать в фитнес-клуб "Best Fitness"</h1>
    <p>У нас вы найдете широкий выбор тренировок и услуг для достижения ваших фитнес-целей.</p>

    <button onclick="location.href='/register'">Зарегистрироваться</button>
    <button onclick="location.href='/login'">Войти</button>
</body>
</html>