Flask==3.0.3
mypy==1.9.0
mypy-extensions==1.0.0
poetry==1.8.2
psycopg2-binary==2.9.9
pydantic==1.10.15
pydantic_core==2.18.1
pytest==8.3.3
pytest-asyncio==0.24.0
ruff==0.3.7
SQLAlchemy==1.4.52
sqlalchemy-orm==1.2.10
unicorn==2.0.1.post1
uvicorn==0.25.0

