<!DOCTYPE html>
<html lang="en, ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Товары в заказе</title>
</head>
<body>
    <h2>Укажите необходимую информацию:</h2>
    <form action="/get_products_order_by_id" method="post">
        <label for="order_id">Введите ID заказа:</label>
        <input type="number" id="order_id" name="order_id" required autofocus>
        <button type="submit">Получить товары в заказе</button>
    </form>
</body>
</html>