<!DOCTYPE html>
<html lang="en, ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Страница продавца</title>
</head>
<body>
    <h2>Выберите, с чем хотите работать:</h2>
    <button onclick="location.href='/route_rules/account/{{user_id}}'">Аккаунт</button>
    <button onclick="location.href='/route_rules/products/{{user_id}}'">Товары</button>
    <button onclick="location.href='/route_rules/order/{{user_id}}'">Заказ</button>
    <button onclick="location.href='/route_rules/cart/{{user_id}}'">Корзина</button>
    <button onclick="location.href='/get_payment_by_user_id/{{user_id}}'">Оплаты</button>
</body>
</html>