<!DOCTYPE html>
<html lang="en, ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Страница продавца</title>
</head>
<body>
    <h2>Выберите, с чем хотите работать:</h2>
    <button onclick="location.href='/legacy/route/own/{{user_id}}'">Без прав продавца</button>
    <button onclick="location.href='/legacy/route/rules/{{user_id}}'">С правами продавца</button>
</body>
</html>